/* HarmonyOS Sans local webfonts (from npm harmonyos-sans) */
/* Note: Using TTFs from public/fonts. Consider WOFF2 for production size. */

/* Latin + general family */
@font-face {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/harmonyos-sans/HarmonyOS_Sans_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/harmonyos-sans/HarmonyOS_Sans_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/harmonyos-sans/HarmonyOS_Sans_Bold.ttf') format('truetype');
}

/* Simplified Chinese */
@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/harmonyos-sans/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/harmonyos-sans/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/harmonyos-sans/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
}
